<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Industery HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
            <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
            <link rel="stylesheet" th:href="@{/assets/css/gijgo.css}">
            <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
            <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
            <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
            <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
            <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
            <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
            <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
            <link rel="stylesheet" th:href="@{/assets/css/style.css}">
            <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
        <style>
            .carousel-inner {
                display: block;
                height: 500px;
                box-sizing: border-box;
                overflow:hidden;

            }

            .carousel-inner .image__wrapper {
                display: flex;
                justify-content: center;
            }

            .carousel-inner .image__wrapper img {
                object-fit: cover  !important;
                height:auto;
                width: 100% !important;
            }

            @media  only screen and (max-width: 768px) {

                .carousel-inner .image__wrapper img {
                    margin: auto !important;
                    height: 100% !important;
                    width: auto !important;
                }
            }
        </style>
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active" th:replace="user/userLayout::preloader">

    </div>
    <!-- Preloader Start-->

    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top top-bg d-none d-lg-block">
                    <div class="container">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-right">
                                    <ul>
                                        <li>CÔNG TY CỔ PHẦN FRIT HƯƠNG GIANG
                                        </li>
                                    </ul>
                                </div>
                                <div class="header-info-left">
                                    <ul>
                                        <li>
                                            <a href="https://www.huonggiangfrit.com.vn/change-language/en"><img src="/assets/img/huonggiang/icon-en.png"></a>
                                            <a href="https://www.huonggiangfrit.com.vn/change-language/vi"><img src="/assets/img/huonggiang/icon-vn.png"></a>
                                        </li>
                                        <li th:each="contact : ${contacts}" th:text="${contact.phone}"></li>
                                        <li style="margin:5px" th:each="contact : ${contacts}" th:text="${contact.email}"></li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-1 col-md-1">
                                <div class="logo" style="">
                                    <a href="/user/index"><img width="100px" th:src="@{/assets/img/huonggiang/logo_2.png}" alt=""></a>
                                    <!-- <img src="https://www.huonggiangfrit.com.vn/assets/img/logo/huongiangicon.png" alt="..."> -->
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/user/index">TRANG CHỦ</a></li>
                                            <li><a href="/user/aboutUs">GIỚI THIỆU</a>
                                            </li>
                                            <li><a href="">SẢN PHẨM</a>
                                                <ul class="submenu">
                                                    <th:block th:each="category : ${categories}">
                                                        <li><a th:href="@{'/user/product/'+${category.id}}" th:text="${category.name}"></a></li>
                                                    </th:block>
                                                </ul>
                                            </li>
                                            <li><a href="/user/news">TIN TỨC</a></li>
                                            <li><a href="/user/career">TUYỂN DỤNG</a></li>
                                            <li><a href="/user/contact">LIÊN HỆ</a></li>
                                        </ul>
                                    </nav>

                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <div class="bd-example" th:replace="user/userLayout::carousel">

    </div>
    <main>
        <th:block th:each="career : ${careers}">
        <div style="font-size:26px ;line-height: 30px;">
                <p th:text="${career.title}"></p>
        </div>
        <div>
            <th:block th:if="${career.image}">
                <img th:src="@{/upload/__${career.image}__}" height="500px" width="600px">
            </th:block>
        </div>
        </th:block>
        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <h2 class="mb-30" style="text-align:center">TUYỂN DỤNG</h2>
                    <div class="row">
                        <div class="col-lg-12">
                            <th:block th:each="career : ${careers}">
                            <blockquote class="generic-blockquote" style="font-size:22px ;line-height: 33px;">
                                <h1 style="text-align:center" th:utext="*{career.description}"></h1>
                            </blockquote>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer th:replace="user/userLayout::app-footer" >
    </footer>
   
	<th:block th:replace="user/userLayout::block-script"></th:block>
        
    </body>
</html>